
.header{
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: lightgray;
  padding-left: 1px;
  padding-right: 1px;

}

@media (max-width: 675px) {
  .header{
    flex-direction: column;
  }
  .header{
    text-align: center;
  }
}
.leftsection{
  display: flex;
  align-items: center;
}

@media (max-width: 675px) {
  .leftsection{
    flex-direction: column;
  }
  .leftsection{
    text-align: center;
  }
}

.leftsection:hover{
  opacity: 0.5;
}

.middlesection{
display: flex;
flex: 1;
align-items: center;
background: url("../Images/picture1.jpg");
background-repeat: no-repeat;
background-size: cover;
}

@media (max-width: 675px) {
  .middlesection{
    flex-direction: column;
  }
  .middlesection{
    text-align: center;
  }
}
.middlesection:hover{
  opacity: 0.5;
}
.company-title{
  color: rgb(153, 16, 62);
  font-size: 50px;
  font-weight: bold;
  display: flex;
  text-align: center;
}

@media (max-width: 675px) {
  .company-title{
    flex-direction: column;
  }
  .company-title{
    text-align: center;
  }
}
.company-title{
  animation-name:fade-in;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 10s;
}
span{
  color:blue;
  font-size:30px;
  display: flex;
  align-items: center;
  padding-right: 30px;
}

@keyframes fade-in{
from{opacity: 1;}
to{opacity: 0;}
}
.rightsection{
background-color: blue;
display: flex;
align-items: center;
}
.rightsection:hover{
  opacity: 0.5;
}
.lugha{
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  font-family:sans-serif;
  line-height: 20px;
}

@media (max-width: 675px) {
  .lugha{
    flex-direction: column;
  }
  .lugha{
    text-align: center;
  }
}
.kiswahili-link{
  margin-right: 10px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-style: Arial;
  font-weight: bold;
}

@media (max-width: 675px) {
  .kiswahili-link{
    flex-direction: column;
  }
  .kiswahili-link{
    text-align: center;
  }
}
.kiswahili-link:hover{
  opacity: 0.5;
}
.english-link{
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-style: Arial;
  font-weight: bold;
}

@media (max-width: 675px) {
  .english-link{
    flex-direction: column;
  }
  .english-link{
    text-align: center;
  }
}
.english-link:hover{
  opacity: 0.5;
}